-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: grindsup_db
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `agendas`
--

DROP TABLE IF EXISTS `agendas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agendas` (
  `id_agenda` bigint NOT NULL AUTO_INCREMENT,
  `id_turno` bigint NOT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_agenda`),
  KEY `idx_agendas_id_turno` (`id_turno`),
  KEY `idx_agendas_id_estado` (`id_estado`),
  CONSTRAINT `agendas_ibfk_1` FOREIGN KEY (`id_turno`) REFERENCES `turnos` (`id_turno`),
  CONSTRAINT `agendas_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agendas`
--

LOCK TABLES `agendas` WRITE;
/*!40000 ALTER TABLE `agendas` DISABLE KEYS */;
/*!40000 ALTER TABLE `agendas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumno_entrenador`
--

DROP TABLE IF EXISTS `alumno_entrenador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumno_entrenador` (
  `id_alumno` bigint NOT NULL,
  `id_entrenador` bigint NOT NULL,
  PRIMARY KEY (`id_alumno`,`id_entrenador`),
  KEY `fk_ae_entrenador` (`id_entrenador`),
  CONSTRAINT `fk_ae_alumno` FOREIGN KEY (`id_alumno`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `fk_ae_entrenador` FOREIGN KEY (`id_entrenador`) REFERENCES `entrenadores` (`id_entrenador`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumno_entrenador`
--

LOCK TABLES `alumno_entrenador` WRITE;
/*!40000 ALTER TABLE `alumno_entrenador` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumno_entrenador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alumnos`
--

DROP TABLE IF EXISTS `alumnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alumnos` (
  `id_alumno` bigint NOT NULL AUTO_INCREMENT,
  `id_entrenador` bigint DEFAULT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) DEFAULT NULL,
  `telefono` varchar(50) DEFAULT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `altura` double DEFAULT NULL,
  `documento` varchar(20) NOT NULL,
  `fecha_nacimiento` date DEFAULT NULL,
  `lesiones` text,
  `enfermedades` text,
  `informe_medico` tinyint(1) NOT NULL DEFAULT '0',
  `peso` double DEFAULT NULL,
  `motivo_baja` text,
  PRIMARY KEY (`id_alumno`),
  UNIQUE KEY `idx_alumnos_doc_entrenador` (`documento`,`id_entrenador`),
  UNIQUE KEY `UKrnv9wvqpdwa7fuuq7clmabnh7` (`documento`,`id_entrenador`),
  UNIQUE KEY `UK757jwl393qwqu12kd02ka1eie` (`documento`,`id_entrenador`),
  KEY `idx_alumnos_id_entrenador` (`id_entrenador`),
  KEY `idx_alumnos_id_estado` (`id_estado`),
  CONSTRAINT `alumnos_ibfk_1` FOREIGN KEY (`id_entrenador`) REFERENCES `entrenadores` (`id_entrenador`),
  CONSTRAINT `alumnos_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alumnos`
--

LOCK TABLES `alumnos` WRITE;
/*!40000 ALTER TABLE `alumnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `alumnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicio_equipamiento`
--

DROP TABLE IF EXISTS `ejercicio_equipamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicio_equipamiento` (
  `id_ejercicio` bigint NOT NULL,
  `equipamiento` varchar(255) DEFAULT NULL,
  KEY `FKkxyk9o8lkaxp2sq7ahqy7uvv5` (`id_ejercicio`),
  CONSTRAINT `FKkxyk9o8lkaxp2sq7ahqy7uvv5` FOREIGN KEY (`id_ejercicio`) REFERENCES `ejercicios` (`id_ejercicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicio_equipamiento`
--

LOCK TABLES `ejercicio_equipamiento` WRITE;
/*!40000 ALTER TABLE `ejercicio_equipamiento` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicio_equipamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicio_musculos_principales`
--

DROP TABLE IF EXISTS `ejercicio_musculos_principales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicio_musculos_principales` (
  `id_ejercicio` bigint NOT NULL,
  `musculo` varchar(255) DEFAULT NULL,
  KEY `FKhs0v0dxostlpolp760933w46f` (`id_ejercicio`),
  CONSTRAINT `FKhs0v0dxostlpolp760933w46f` FOREIGN KEY (`id_ejercicio`) REFERENCES `ejercicios` (`id_ejercicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicio_musculos_principales`
--

LOCK TABLES `ejercicio_musculos_principales` WRITE;
/*!40000 ALTER TABLE `ejercicio_musculos_principales` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicio_musculos_principales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicio_musculos_secundarios`
--

DROP TABLE IF EXISTS `ejercicio_musculos_secundarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicio_musculos_secundarios` (
  `id_ejercicio` bigint NOT NULL,
  `musculo` varchar(255) DEFAULT NULL,
  KEY `FKpbt22vcxhmnqb409trqaem4aq` (`id_ejercicio`),
  CONSTRAINT `FKpbt22vcxhmnqb409trqaem4aq` FOREIGN KEY (`id_ejercicio`) REFERENCES `ejercicios` (`id_ejercicio`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicio_musculos_secundarios`
--

LOCK TABLES `ejercicio_musculos_secundarios` WRITE;
/*!40000 ALTER TABLE `ejercicio_musculos_secundarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicio_musculos_secundarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ejercicios`
--

DROP TABLE IF EXISTS `ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ejercicios` (
  `id_ejercicio` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `dificultad` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_ejercicio`),
  KEY `idx_ejercicios_id_estado` (`id_estado`),
  CONSTRAINT `ejercicios_ibfk_1` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ejercicios`
--

LOCK TABLES `ejercicios` WRITE;
/*!40000 ALTER TABLE `ejercicios` DISABLE KEYS */;
/*!40000 ALTER TABLE `ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entrenadores`
--

DROP TABLE IF EXISTS `entrenadores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entrenadores` (
  `id_entrenador` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` bigint NOT NULL,
  `experiencia` text,
  `telefono` varchar(50) DEFAULT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_entrenador`),
  UNIQUE KEY `id_usuario` (`id_usuario`),
  KEY `idx_entrenadores_id_estado` (`id_estado`),
  CONSTRAINT `entrenadores_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`),
  CONSTRAINT `entrenadores_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entrenadores`
--

LOCK TABLES `entrenadores` WRITE;
/*!40000 ALTER TABLE `entrenadores` DISABLE KEYS */;
INSERT INTO `entrenadores` VALUES (1,1,'5 a├▒os de experiencia en fitness','+5493511111111',1,'2025-09-29 01:32:21','2025-09-29 01:32:21',NULL),(2,2,'2 a├▒os de fuerza e HIIT','+5493512222222',1,'2025-10-08 16:51:37','2025-10-08 16:51:37',NULL),(3,3,'Entrenador certificado','+549111111111',1,'2025-10-12 00:21:54','2025-10-12 00:21:54',NULL);
/*!40000 ALTER TABLE `entrenadores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `estados`
--

DROP TABLE IF EXISTS `estados`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `estados` (
  `id_estado` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `ambito` varchar(50) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `estados`
--

LOCK TABLES `estados` WRITE;
/*!40000 ALTER TABLE `estados` DISABLE KEYS */;
/*!40000 ALTER TABLE `estados` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plan_evaluacion`
--

DROP TABLE IF EXISTS `plan_evaluacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `plan_evaluacion` (
  `id_evaluacion` bigint NOT NULL AUTO_INCREMENT,
  `id_plan` bigint NOT NULL,
  `id_alumno` bigint NOT NULL,
  `id_entrenador` bigint NOT NULL,
  `score` int DEFAULT NULL,
  `comentario` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_evaluacion`),
  KEY `idx_eval_entrenador_created` (`id_entrenador`,`created_at`),
  KEY `idx_eval_alumno_created` (`id_alumno`,`created_at`),
  KEY `idx_eval_plan` (`id_plan`),
  CONSTRAINT `fk_eval_alumno` FOREIGN KEY (`id_alumno`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `fk_eval_entrenador` FOREIGN KEY (`id_entrenador`) REFERENCES `entrenadores` (`id_entrenador`),
  CONSTRAINT `fk_eval_plan` FOREIGN KEY (`id_plan`) REFERENCES `planes_entrenamiento` (`id_plan`),
  CONSTRAINT `plan_evaluacion_chk_1` CHECK ((`score` between 0 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plan_evaluacion`
--

LOCK TABLES `plan_evaluacion` WRITE;
/*!40000 ALTER TABLE `plan_evaluacion` DISABLE KEYS */;
INSERT INTO `plan_evaluacion` VALUES (1,2,31,3,4,'Buen cumplimiento, podr├¡a mejorar cardio','2025-11-05 04:17:43');
/*!40000 ALTER TABLE `plan_evaluacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `planes_entrenamiento`
--

DROP TABLE IF EXISTS `planes_entrenamiento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `planes_entrenamiento` (
  `id_plan` bigint NOT NULL AUTO_INCREMENT,
  `id_alumno` bigint NOT NULL,
  `objetivo` text,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `id_entrenador` bigint DEFAULT NULL,
  PRIMARY KEY (`id_plan`),
  KEY `idx_planes_id_alumno` (`id_alumno`),
  KEY `idx_planes_id_estado` (`id_estado`),
  KEY `FK75q9n66rdofn2d988ch79m2na` (`id_entrenador`),
  CONSTRAINT `FK75q9n66rdofn2d988ch79m2na` FOREIGN KEY (`id_entrenador`) REFERENCES `entrenadores` (`id_entrenador`),
  CONSTRAINT `planes_entrenamiento_ibfk_1` FOREIGN KEY (`id_alumno`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `planes_entrenamiento_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `planes_entrenamiento`
--

LOCK TABLES `planes_entrenamiento` WRITE;
/*!40000 ALTER TABLE `planes_entrenamiento` DISABLE KEYS */;
INSERT INTO `planes_entrenamiento` VALUES (2,31,'','2025-10-18','2025-11-01',NULL,'2025-10-19 00:01:14','2025-10-19 00:01:14',NULL,NULL),(3,32,'','2025-10-24','2025-11-07',NULL,'2025-10-20 03:25:05','2025-10-20 03:25:05',NULL,NULL),(4,33,'Mejorar resistencia┬í',NULL,NULL,NULL,'2025-10-21 15:06:26','2025-10-21 15:06:26',NULL,NULL);
/*!40000 ALTER TABLE `planes_entrenamiento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id_rol` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'entrenador',NULL,'2025-09-29 01:31:27','2025-09-29 01:31:27',NULL);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rutina_ejercicios`
--

DROP TABLE IF EXISTS `rutina_ejercicios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rutina_ejercicios` (
  `id_rutina` bigint NOT NULL,
  `id_ejercicio` bigint NOT NULL,
  `repeticiones` int DEFAULT NULL,
  `series` int DEFAULT NULL,
  `descanso_segundos` int DEFAULT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `grupo_muscular` varchar(100) DEFAULT NULL,
  `observaciones` text,
  PRIMARY KEY (`id_rutina`,`id_ejercicio`),
  KEY `idx_rutina_ejercicios_estado` (`id_estado`),
  KEY `id_ejercicio` (`id_ejercicio`),
  CONSTRAINT `rutina_ejercicios_ibfk_1` FOREIGN KEY (`id_rutina`) REFERENCES `rutinas` (`id_rutina`),
  CONSTRAINT `rutina_ejercicios_ibfk_2` FOREIGN KEY (`id_ejercicio`) REFERENCES `ejercicios` (`id_ejercicio`),
  CONSTRAINT `rutina_ejercicios_ibfk_3` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rutina_ejercicios`
--

LOCK TABLES `rutina_ejercicios` WRITE;
/*!40000 ALTER TABLE `rutina_ejercicios` DISABLE KEYS */;
INSERT INTO `rutina_ejercicios` VALUES (6,4,10,3,60,1,'2025-10-21 15:07:31','2025-10-21 15:07:31',NULL,NULL,NULL),(6,5,10,3,60,1,'2025-10-21 15:07:31','2025-10-21 15:07:31',NULL,NULL,NULL),(6,7,10,3,60,1,'2025-10-21 15:07:31','2025-10-21 15:07:31',NULL,NULL,NULL),(7,8,10,3,60,1,'2025-10-21 15:08:37','2025-10-21 15:08:37',NULL,NULL,NULL),(7,10,10,3,60,1,'2025-10-21 15:08:37','2025-10-21 15:08:37',NULL,NULL,NULL),(8,13,10,3,60,1,'2025-10-23 01:13:49','2025-10-23 01:13:49',NULL,NULL,NULL);
/*!40000 ALTER TABLE `rutina_ejercicios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rutinas`
--

DROP TABLE IF EXISTS `rutinas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rutinas` (
  `id_rutina` bigint NOT NULL AUTO_INCREMENT,
  `id_plan` bigint NOT NULL,
  `nombre` varchar(100) DEFAULT NULL,
  `descripcion` text,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_rutina`),
  KEY `idx_rutinas_id_plan` (`id_plan`),
  KEY `idx_rutinas_id_estado` (`id_estado`),
  CONSTRAINT `rutinas_ibfk_1` FOREIGN KEY (`id_plan`) REFERENCES `planes_entrenamiento` (`id_plan`),
  CONSTRAINT `rutinas_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rutinas`
--

LOCK TABLES `rutinas` WRITE;
/*!40000 ALTER TABLE `rutinas` DISABLE KEYS */;
INSERT INTO `rutinas` VALUES (6,4,'Brazos','Trabajo muscular brazos',1,'2025-10-21 15:07:31','2025-10-21 15:07:31',NULL),(7,4,'Piernas','Trabajo de piernas',1,'2025-10-21 15:08:37','2025-10-21 15:08:37',NULL),(8,2,'Principio','dsadsd',1,'2025-10-23 01:13:49','2025-10-23 01:13:49',NULL);
/*!40000 ALTER TABLE `rutinas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sesiones`
--

DROP TABLE IF EXISTS `sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesiones` (
  `id_sesion` bigint NOT NULL AUTO_INCREMENT,
  `id_usuario` bigint NOT NULL,
  `inicio` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fin` timestamp NULL DEFAULT NULL,
  `ip` varchar(50) DEFAULT NULL,
  `dispositivo` text,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_sesion`),
  KEY `idx_sesiones_id_usuario` (`id_usuario`),
  KEY `idx_sesiones_id_estado` (`id_estado`),
  CONSTRAINT `sesiones_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuarios` (`id_usuario`),
  CONSTRAINT `sesiones_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sesiones`
--

LOCK TABLES `sesiones` WRITE;
/*!40000 ALTER TABLE `sesiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `sesiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipos_turno`
--

DROP TABLE IF EXISTS `tipos_turno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipos_turno` (
  `id_tipoturno` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `descripcion` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_tipoturno`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipos_turno`
--

LOCK TABLES `tipos_turno` WRITE;
/*!40000 ALTER TABLE `tipos_turno` DISABLE KEYS */;
INSERT INTO `tipos_turno` VALUES (1,'individual',NULL,'2025-09-29 01:32:37','2025-09-29 01:32:37',NULL),(2,'grupal',NULL,'2025-09-29 01:32:37','2025-09-29 01:32:37',NULL);
/*!40000 ALTER TABLE `tipos_turno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tokens_recuperacion_contrasena`
--

DROP TABLE IF EXISTS `tokens_recuperacion_contrasena`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tokens_recuperacion_contrasena` (
  `id_token` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `expired_at` datetime(6) NOT NULL,
  `hash_token` varchar(64) NOT NULL,
  `id_usuario` bigint NOT NULL,
  `usado` bit(1) NOT NULL,
  PRIMARY KEY (`id_token`),
  UNIQUE KEY `UKce5lbvx7uvvgy5fss020051ku` (`hash_token`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tokens_recuperacion_contrasena`
--

LOCK TABLES `tokens_recuperacion_contrasena` WRITE;
/*!40000 ALTER TABLE `tokens_recuperacion_contrasena` DISABLE KEYS */;
/*!40000 ALTER TABLE `tokens_recuperacion_contrasena` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turno_alumno`
--

DROP TABLE IF EXISTS `turno_alumno`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turno_alumno` (
  `id_alumno` bigint NOT NULL,
  `id_turno` bigint NOT NULL,
  `created_at` datetime(6) DEFAULT CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`id_alumno`,`id_turno`),
  KEY `fk_turno_alumno_turnos` (`id_turno`),
  CONSTRAINT `fk_turno_alumno_alumnos` FOREIGN KEY (`id_alumno`) REFERENCES `alumnos` (`id_alumno`),
  CONSTRAINT `fk_turno_alumno_turnos` FOREIGN KEY (`id_turno`) REFERENCES `turnos` (`id_turno`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turno_alumno`
--

LOCK TABLES `turno_alumno` WRITE;
/*!40000 ALTER TABLE `turno_alumno` DISABLE KEYS */;
/*!40000 ALTER TABLE `turno_alumno` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `turnos`
--

DROP TABLE IF EXISTS `turnos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `turnos` (
  `id_turno` bigint NOT NULL AUTO_INCREMENT,
  `id_entrenador` bigint NOT NULL,
  `id_tipoturno` bigint DEFAULT NULL,
  `fecha` timestamp NOT NULL,
  `id_estado` bigint DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `google_event_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_turno`),
  KEY `idx_turnos_id_entrenador` (`id_entrenador`),
  KEY `idx_turnos_id_tipoturno` (`id_tipoturno`),
  KEY `idx_turnos_id_estado` (`id_estado`),
  CONSTRAINT `turnos_ibfk_1` FOREIGN KEY (`id_entrenador`) REFERENCES `entrenadores` (`id_entrenador`),
  CONSTRAINT `turnos_ibfk_3` FOREIGN KEY (`id_tipoturno`) REFERENCES `tipos_turno` (`id_tipoturno`),
  CONSTRAINT `turnos_ibfk_4` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `turnos`
--

LOCK TABLES `turnos` WRITE;
/*!40000 ALTER TABLE `turnos` DISABLE KEYS */;
/*!40000 ALTER TABLE `turnos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id_usuario` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `correo` varchar(150) NOT NULL,
  `contrasena` text NOT NULL,
  `id_rol` bigint NOT NULL,
  `id_estado` bigint DEFAULT NULL,
  `foto_perfil` text,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `correo` (`correo`),
  KEY `idx_usuarios_id_rol` (`id_rol`),
  KEY `idx_usuarios_id_estado` (`id_estado`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`id_rol`) REFERENCES `roles` (`id_rol`),
  CONSTRAINT `usuarios_ibfk_2` FOREIGN KEY (`id_estado`) REFERENCES `estados` (`id_estado`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-09 20:16:15
