/* Fondo centrado */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #15803D;
}

/* Caja blanca centrada */
.login-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

/* Título */
.login-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Inputs */
.login-input {
  padding: 0.8rem;
  border: 1px solid #bdc3c7;
  border-radius: 8px;
  font-size: 1rem;
}

.login-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.4);
  outline: none;
}

/* Botón */
.login-button {
  padding: 0.8rem;
  background-color: #38A169;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #27ae60;
}

.inicio-button {
    margin-top: 20px;
    padding: 0.8rem;
    background-color: #2ecc71;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    margin-left: 1000px;
}

.inicio-button:hover {
    background-color: #27ae60;
}

/* Error */
.login-error {
  margin-top: 1rem;
  color: #e74c3c;
  font-weight: bold;
}

/* Confirmación de cierre de sesión */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.modal-box p {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: #2c3e50;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.confirm-button,
.cancel-button {
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.confirm-button {
  background-color: #e74c3c;
  color: white;
}

.confirm-button:hover {
  background-color: #c0392b;
}

.cancel-button {
  background-color: #bdc3c7;
  color: #2c3e50;
}

.cancel-button:hover {
  background-color: #95a5a6;
}